* {
  margin: 0;
  padding: 0;
}
.custom-navbar {
    padding: 0;
  background-color: rebeccapurple;
  max-height: 60px;
}

.navbar-brand {
  margin-right: auto;
}

.navbar-nav {
  margin-left: auto;
}
.navbar-brand{
    margin: 0;
    padding: 0;
}
.navbar-image {
    width: 60px;
    /* mix-blend-mode: screen; */
}
