@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Mooli&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Mooli", sans-serif;
}
html {
  font-size: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
section {
  min-height: 100vh;
}
.navbar-expand-lg .navbar-nav {
  padding: 7px !important;
}

.custom-navbar {
  z-index: 999;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.548);
  background-color: rgba(0, 0, 0, 0.263);
}

.navbar-brand {
  margin-right: auto;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 40px;
  font-size: 1.3rem;
  padding: 20px;
}
.navbar-nav li {
  margin: 0 6px;
  letter-spacing: 2px;
  font-weight: 700;
}

.navbar-image {
  position: absolute;
  top: 0;
  width: 100px;
  filter: drop-shadow(0 0 8px black);
}
/* Home  */
.homewelcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
  color: white;
}
.homewelcome h1 {
  /* mix-blend-mode: overlay; */
  text-shadow: 0 0 7px black;
  font-weight: 900 !important;
}
.homewelcome p {
  text-shadow: 0 0 7px black;
  font-weight: 600;
  font-size: 2.2rem;
}
@media (max-width: 991px) {
  .custom-navbar {
    backdrop-filter: blur(44px);
  }
  .navbar-image {
    position: static;
    width: 60px;
  }
  .homewelcome p {
    font-size: 1.2rem;
  }
}
@media (max-width: 450px) {
  .navbar-image {
    position: static;
    width: 60px;
  }
}
