/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.hmvid {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
  /* mix-blend-mode: difference; */
}

.hmvid video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.loginbtn {
  padding: 0.15em 1.3em;
  border: 2px solid white;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.loginbtn:before {
  content: "";
  background: -o-linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-animation: glowing-loginbtn 20s linear infinite;
          animation: glowing-loginbtn 20s linear infinite;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50px;
}

@-webkit-keyframes glowing-loginbtn {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes glowing-loginbtn {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.loginbtn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(45deg, rgb(62, 0, 71), rgb(0, 0, 70));
  background: linear-gradient(45deg, rgb(62, 0, 71), rgb(0, 0, 70));
  left: 0;
  top: 0;
  border-radius: 50px;
}

.loginbtn:hover {
  border: 2px solid rgb(9, 255, 0);
}

.explorehome {
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
  text-decoration: none;
  font-size: 1.7rem;
}

.explorehome:hover {
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 1.7rem;
}

.con {
  z-index: 2;
}

.scroll-to-top-btn {
  z-index: 999;
  position: fixed;
  bottom: 6px;
  right: 6px;
  background: -webkit-gradient(linear, left top, right bottom, from(#ef4765), to(#ff9a5a));
  background: -o-linear-gradient(top left, #ef4765, #ff9a5a);
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 2px solid transparent;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 1.8rem;
  line-height: 1.7;
  outline: transparent;
  padding: 0 0.6rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  white-space: nowrap;
}

.scroll-to-top-btn:not([disabled]):focus {
  -webkit-box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
          box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.scroll-to-top-btn:not([disabled]):hover {
  border: 2px solid white;
  -webkit-box-shadow: 0 0 12px rgb(224, 224, 224);
          box-shadow: 0 0 12px rgb(224, 224, 224);
  -webkit-box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
          box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.modal {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.168);
  border: none !important;
}

.modal-content {
  background-color: transparent;
  border: none !important;
}

.homecard {
  position: relative;
  width: 240px; /* Increased width */
  height: 270px; /* Increased height */
  -webkit-perspective: 1000px;
          perspective: 1000px; /* Adds 3D perspective to the card */
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s; /* Smooth transition for flip animation */
  border-radius: 10px; /* Increased border radius for rounded corners */
}

.homecard:hover .homecard__inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); /* Rotate the card on hover */
}

/* Card inner container */
.homecard__inner {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

/* Front side of the card */
.homecard__front,
.homecard__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 20px;
  border: 2px solid white;
}

.homecard__front {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#09203f), to(#537895));
  background-image: -o-linear-gradient(bottom, #09203f 0%, #537895 100%);
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  z-index: 2; /* Ensure the front side is on top initially */
  -webkit-box-shadow: 0 0 12px black;
          box-shadow: 0 0 12px black;
}
.homecard__front img {
  border-radius: 20px;
}
.homecard__image {
  width: 240px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover; /*Make the image cover the container while maintaining aspect ratio */
  border-radius: 50px;
  /* object-position: center; */
}

/* Back side of the card */
.homecard__back {
  background-image: -o-linear-gradient(330deg, #a6c0fe 0%, #f68084 100%);
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); /* Initially, show the back side */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  z-index: 1; /* Make sure the back side is below the front side */
}

.homecard__description {
  padding: 10px;
  text-align: center;
}
.homecard__description p {
  text-align: justify;
  font-size: 1.5rem;
}
.homecard__description i {
  font-size: 3rem;
  text-align: center;
}

/* Rest of your CSS styles... */

/* Add any other styles as needed */

/* Animation for the flip effect */
@-webkit-keyframes rotation_481 {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@keyframes rotation_481 {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

/* Floating animation for elements like circles */
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes floating {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.homecard__image {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* Make the image cover the container while maintaining aspect ratio */
  border-radius: 5px;
}

/* social */

.socialcard {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-image: -o-linear-gradient(330deg, #a6c0fe 0%, #f68084 100%);
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  border-radius: 12px;
}
.socialcard h2 {
  color: black;
  font-weight: 700;
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128c7e;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.socialContainer:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  -webkit-animation: slide-in-top 0.3s both;
          animation: slide-in-top 0.3s both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 991px) {
  .weather-app .weather-card {
    margin: 20px;
  }
  .carbon-container {
    max-width: 90vw;
    padding: 0;
    margin: 0;
  }
  .homecard {
    width: 100%;
  }
  .homecard__image {
    width: 100%;
    height: 220px;
  }
  .explorehome {
    font-size: 1rem;
  }
}

/*aims css */
.aims-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 320px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 20px;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  min-height: 300px;
  max-height: 300px;
  border: 2px solid white;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.aims-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  color: #e8e8e8;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.aims-content .aims-heading {
  font-weight: 700;
  font-size: 32px;
}

.aims-content .aims-para {
  line-height: 1.5;
}

.aims-content .aims-btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: -o-linear-gradient(135deg, #f89b29 0%, #ff0f7b 100%);
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.aims-card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: -o-linear-gradient(135deg, #f89b29 0%, #ff0f7b 100%);
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  z-index: -1;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.aims-card:hover::before {
  height: 100%;
}

.aims-card:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.aims-card:hover .aims-btn {
  color: #212121;
  background: #e8e8e8;
}

.aims-content .aims-btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.aims-content .aims-btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* carbon foot print vaayu soul css*/
/* CSS for Carbon Footprint Calculator */

/* Apply styles to the container */
.vaayusoulcont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .aims-card {
    width: 100%;
  }
  .vaayusoulcont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* gap: 20px; */
  }
  #iframeContainer {
    min-width: 100%;
    max-width: 100%;
  }
}
.carbon-container {
  width: 600px;
  max-height: 400px;
  padding: 20px;
  color: white;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.755);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.755);
  text-align: left;
}

/* Apply styles to the title */
.carbon-title {
  font-size: 24px;
  color: #fff2d7;
  margin-bottom: 20px;
}

/* Apply styles to the input fields and select dropdown */
.carbon-input,
.carbon-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Apply styles to the Calculate button */
.carbon-button {
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: right !important;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

/* Apply styles to the result */
.carbon-result {
  font-size: 20px;
  color: #ffd89c;
  margin: 30px 0;
}

/* pagination css*/
.pagination .page-item.active .page-link {
  border-radius: 50%;
  background-color: #007bff; /* You can change the background color to your preference */
  color: #fff; /* You can change the text color to your preference */
}
.pagination .page-link:hover {
  background-color: #0056b3; /* Hover background color */
  color: #fff; /* Hover text color */
}
/* Add this CSS to your stylesheet */
.pagination .page-item {
  margin: 0 1.5px; /* Adjust the margin as needed */
  -webkit-transition: background-color 1s ease, color 1s ease;
  -o-transition: background-color 1s ease, color 1s ease;
  transition: background-color 1s ease, color 1s ease; /* Smooth transition for background and text color */
}

.pagination .page-item.active .page-link:hover {
  background-color: #0056b3; /* Hover background color */
  color: #fff; /* Hover text color */
}

.itedisplayer{
  color: white !important;
  background: -o-linear-gradient(45deg, rgba(0, 0, 255, 0.2), rgba(255, 0, 0, 0.2));
  background: linear-gradient(45deg, rgba(0, 0, 255, 0.2), rgba(255, 0, 0, 0.2));
  -webkit-box-shadow: 0 8px 18px 0 rgba(173, 50, 167, 0.596) !important;
          box-shadow: 0 8px 18px 0 rgba(173, 50, 167, 0.596) !important;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.464);
}

.offcanvas-body button{
  border: 2px solid white !important;
  font-size: 20px;
  color: white !important;
}
.loadingvayu img{
  width: 90px;
}