.hmvid {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
}

.hmvid video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loginbtn {
  padding: 0.15em 1.3em;
  border: 2px solid white;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.loginbtn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-loginbtn 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50px;
}

@keyframes glowing-loginbtn {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.loginbtn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgb(62, 0, 71), rgb(0, 0, 70));
  left: 0;
  top: 0;
  border-radius: 50px;
}

.loginbtn:hover {
  border: 2px solid rgb(9, 255, 0);
}

.explorehome {
  transition: all ease 0.2s;
  text-decoration: none;
  font-size: 1.7rem;
}

.explorehome:hover {
  transition: all ease 0.2s;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 1.7rem;
}

.con {
  z-index: 2;
}

.scroll-to-top-btn {
  z-index: 999;
  position: fixed;
  bottom: 6px;
  right: 6px;
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 2px solid transparent;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 1.8rem;
  line-height: 1.7;
  outline: transparent;
  padding: 0 0.6rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.scroll-to-top-btn:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.scroll-to-top-btn:not([disabled]):hover {
  border: 2px solid white;
  box-shadow: 0 0 12px rgb(224, 224, 224);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.modal {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.168);
  border: none !important;
}

.modal-content {
  background-color: transparent;
  border: none !important;
}

.homecard {
  position: relative;
  width: 240px; /* Increased width */
  height: 270px; /* Increased height */
  perspective: 1000px; /* Adds 3D perspective to the card */
  cursor: pointer;
  transition: transform 0.5s; /* Smooth transition for flip animation */
  border-radius: 10px; /* Increased border radius for rounded corners */
}

.homecard:hover .homecard__inner {
  transform: rotateY(180deg); /* Rotate the card on hover */
}

/* Card inner container */
.homecard__inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

/* Front side of the card */
.homecard__front,
.homecard__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  border: 2px solid white;
}

.homecard__front {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 2; /* Ensure the front side is on top initially */
  box-shadow: 0 0 12px black;

}
.homecard__front img{
  border-radius: 20px;
}
.homecard__image {
  width: 240px;
  height: 320px;
  object-fit: cover; /*Make the image cover the container while maintaining aspect ratio */
  border-radius: 50px;
  /* object-position: center; */
}

/* Back side of the card */
.homecard__back {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  transform: rotateY(180deg); /* Initially, show the back side */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  z-index: 1; /* Make sure the back side is below the front side */
}

.homecard__description{
  padding: 10px;
  text-align: center;
}
.homecard__description p{
  text-align: justify;
  font-size: 1.5rem;
}
.homecard__description i{
  font-size: 3rem;
  text-align: center;
}

/* Rest of your CSS styles... */

/* Add any other styles as needed */

/* Animation for the flip effect */
@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

/* Floating animation for elements like circles */
@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}
.homecard__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Make the image cover the container while maintaining aspect ratio */
  border-radius: 5px;
}

/* social */

.socialcard {
  width: fit-content;
  height: fit-content;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  border-radius: 12px;
}
.socialcard h2{
  color: black;
  font-weight: 700;
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(0, 0, 0);
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 991px) {
  .explorehome {
    font-size: 1rem;
  }
}


/*aims css */
.aims-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 20px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  min-height:300px;
  max-height: 300px;
  border: 2px solid white;
  backdrop-filter: blur(10px);
}

.aims-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #e8e8e8;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.aims-content .aims-heading {
  font-weight: 700;
  font-size: 32px;
}

.aims-content .aims-para {
  line-height: 1.5;
}

.aims-content .aims-btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.aims-card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.aims-card:hover::before {
  height: 100%;
}

.aims-card:hover {
  box-shadow: none;
}

.aims-card:hover .aims-btn {
  color: #212121;
  background: #e8e8e8;
}

.aims-content .aims-btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.aims-content .aims-btn:active {
  box-shadow: none;
}
