.original_card {
  color: white;
  min-width: 310px;
  border-radius: 0.5rem;
  background-image: linear-gradient(60deg, #abecd68a 0%, #fbed968a 100%);
  border: 1px solid transparent;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  border: 1px solid white;
  backdrop-filter: blur(22px);
  max-width: 310px;
  min-height: 300px;
  box-shadow: 0 8px 32px 0 rgba(29, 39, 177, 0.924);
}
.original_card .readmorebtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.original_card img {
  width: 310px;
  height: 160px;
  box-shadow: 0 0 12px black;
}
.original_card a {
  text-decoration: none;
}

.original_card .content {
  padding: 1.1rem;
}

.original_card .image {
  object-fit: cover;
  width: 100%;
  height: 150px;
  background-color: rgb(239, 205, 255);
}

.original_card .title {
  color: #fff4ec;
  text-shadow: 0 0 8px black;
  letter-spacing: 1px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.original_card .desc {
  margin-top: 0.5rem;
  color: #ffffff;
  text-shadow: 0 0 8px black;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.original_card .action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  /* border: 2px solid white; */
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #c80e8a;
  padding: 4px 8px;
  /* border-radius: 10px; */
}

.original_card .action span {
  transition: 0.3s ease;
}

.original_card .action:hover span {
  transform: translateX(4px);
}
.card-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

/* readmore_card */
.readmore_card {
  max-width: 50em;
  max-height: 80em;
  background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
  transition: 1s ease-in-out;
  border: 2px solid white;
  border-radius: 8px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
}
.readmore_card span {
  font-weight: bold;
  color: rgb(226, 26, 12);
  text-align: center;
  display: block;
  font-size: 1em;
}

.readmore_card .info {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  margin: 1em;
}

.readmore_card .read_img {
  width: 20em;
  height: 12em;
  padding: 5px;
  background-size: cover;
  border-radius: 15px;
  margin: auto;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.readmore_card .read_img img {
  border-radius: 12px;
  border: 5px solid white;
  /* width: 20px; */
}
.readmore_card .share {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.readmore_card a {
  color: white;
  transition: 0.4s ease-in-out;
}

.Blog_container {
  width: 95vw;
  margin: auto;
  padding: 20px;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.1),
    rgba(0, 255, 0, 0.1),
    rgba(0, 0, 255, 0.1)
  );
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  margin-top: 20px;
}
.Blog_container button{
  margin-top: 20px;
  border: 4px solid rgb(255, 162, 0);
}

.blog-vaayu-conatiner {
  margin-bottom: 3%;
}

.Blog_container p {
  font-size: 18px;
  color: white;
  display: inline;
  text-align: center;
}

.Blog_container .btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 30px;
}

.Blog_container .btn-primary:hover {
  background-color: #0056b3;
}

/* Blog */

.orange {
  color: #ff7a01;
}

.form-container {
  max-width: 900px;
  margin: 30px;
  background-image: linear-gradient(
    to right,
    #b8cbb88a 0%,
    #b8cbb882 0%,
    #b565da8a 0%,
    #cf6cc887 33%,
    #ee609b7f 66%,
    #ee609b79 100%
  );
  backdrop-filter: blur(22px);
  border: 1px solid white;
  border-radius: 8px;
  padding: 30px;
}

.heading {
  display: block;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.form-container .form .input {
  color: #87a4b6;
  width: 100%;
  background-color: #002733;
  border: 1px solid white;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
}

.form-container .form .input:focus {
  border-left: 5px solid white;
}

.form-container .form .textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  outline: none;
  background-color: #013747;
  color: white;
  font-weight: bold;
  resize: none;
  max-height: 150px;
  margin-bottom: 20px;
  border-left: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form .textarea:focus {
  border-left: 5px solid white;
}

.form-container button{
  min-width: 200px;
  padding: 12px;
}


