.Package_card  img
{
    height: 200px;
}

.Package_card {
    width: 330px;
    height: 360px;
    border-radius: 20px;
    background: #1b233d;
    padding: 5px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .Package_card:hover {
    transform: scale(1.05);
  }
  
  .Package_card  .top-section {
    height: 220px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(4, 159, 187) 0%, rgb(80, 246, 255) 100%);
    position: relative;
    background-size: contain;
  }
  
  .Package_card   .top-section .border {
    border-bottom-right-radius: 10px;
    height: 30px;
    width: 130px;
    background: white;
    background: #1b233d;
    position: relative;
    transform: skew(-40deg);
    box-shadow: -10px -10px 0 0 #1b233d;
  }

  .Package_card  .sect{
    height: 180px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(4, 159, 187) 0%, rgb(80, 246, 255) 100%);
    position: relative;
    margin-top: 1px;
  }
  
  .Package_card  .top-section .border::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: -15px;
    background: rgba(255, 255, 255, 0);
    border-top-left-radius: 10px;
    box-shadow: -5px -5px 0 2px #1b233d;
  }
  
  .Package_card  .top-section::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    background: rgba(255, 255, 255, 0);
    height: 15px;
    width: 15px;
    border-top-left-radius: 15px;
    box-shadow: -5px -5px 0 2px #1b233d;
  }
  
  .Package_card  .top-section .icons {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .Package_card  .top-section .icons .logo {
    height: 100%;
    aspect-ratio: 1;
    padding: 7px 0 7px 15px;
  }
  
  .Package_card  .top-section .icons .logo .top-section {
    height: 100%;
  }
  
  .Package_card  .top-section .icons .social-media {
    height: 100%;
    padding: 8px 15px;
    display: flex;
    gap: 7px;
  }
  
  .Package_card .top-section .icons .social-media .svg {
    height: 100%;
    fill: #1b233d;
  }
  
  .Package_card  .top-section .icons .social-media .svg:hover {
    fill: white;
  }
  .Package_card  .bottom-section {
    margin-top: 15px;
    padding: 10px 5px;
  }
  
  .Package_card .bottom-section .title {
    display: block;
    font-size: 17px;
    font-weight: bolder;
    color: white;
    text-align: center;
    letter-spacing: 2px;
  }
  
  .Package_card  .bottom-section .row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .Package_card  .bottom-section .row .item {
    flex: 30%;
    text-align: center;
    padding: 5px;
    color: rgba(170, 222, 243, 0.721);
  }
  
  .Package_card  .bottom-section .row .item .big-text {
    font-size: 17px;
    display: block;
  }
  
  .Package_card  .bottom-section .row .item .regular-text {
    font-size: 14px;
  }
  
  .Package_card  .bottom-section .row .item:nth-child(2) {
    border-left: 1px solid rgba(255, 255, 255, 0.126);
    border-right: 1px solid rgba(255, 255, 255, 0.126);
  }

  /* CSS FOr the FLexbox Begins */

   /* Flex container */
   .Package_card-container {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line on smaller screens */
    gap: 35px; 
    justify-content: space-around;

 }

 #c-1
 {
    background-image: url(https://indiansafaris.com/wp-content/uploads/2020/12/india_spiritual_tours.jpg);
 }

 #c-2
 {
    background-image: url(https://www.divaonline.com.pk/wp-content/uploads/2019/06/pjimage-69-768x432.jpg);
 }

 #c-3
 {
    background-image: url(https://media.istockphoto.com/id/1221442369/photo/famous-places-of-india-in-the-collage-of-photos.jpg?s=612x612&w=0&k=20&c=L-76jLclRmuKOKga8ynV1l7D3b7jwUw64pxR5Xp9UuM=);
 }

 #c-4
 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRbkkssSowllPoeejrsfFdeSMgWnlgXlV9aA&usqp=CAU);
 }

 #c-5
 {
    background-image: url(https://media.cntraveller.com/photos/615c4bd888f71f0e303251ac/3:2/w_2700,h_1800,c_limit/Best%20Cities%20in%20Europe.jpg) ;
 }



