/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Weather.css */

.weather-app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}
.weather-app{
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);

}
.weather-app .weather-card {
    color: white;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.755);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.755);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
    max-height: 400px;
    margin-top: 15px;
}

.weather-app .container {
    width: 250px;
    height: 250px;
    position: absolute;
    right: -35px;
    top: -50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
}

.weather-app .cloud {
    width: 250px;
}

.weather-app .front {
    padding-top: 45px;
    margin-left: 25px;
    display: inline;
    position: absolute;
    z-index: 11;
    -webkit-animation: clouds 8s infinite;
            animation: clouds 8s infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}

.weather-app .back {
    margin-top: -30px;
    margin-left: 150px;
    z-index: 12;
    -webkit-animation: clouds 12s infinite;
            animation: clouds 12s infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}

.weather-app .right-front {
    width: 45px;
    height: 45px;
    border-radius: 50% 50% 50% 0%;
    background-color: #4c9beb;
    display: inline-block;
    margin-left: -25px;
    z-index: 5;
}

.weather-app .left-front {
    width: 65px;
    height: 65px;
    border-radius: 50% 50% 0% 50%;
    background-color: #4c9beb;
    display: inline-block;
    z-index: 5;
}

.weather-app .right-back {
    width: 50px;
    height: 50px;
    border-radius: 50% 50% 50% 0%;
    background-color: #4c9beb;
    display: inline-block;
    margin-left: -20px;
    z-index: 5;
}

.weather-app .left-back {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 0% 50%;
    background-color: #4c9beb;
    display: inline-block;
    z-index: 5;
}

.weather-app .sun {
    width: 120px;
    height: 120px;
    background: -webkit-gradient(linear, left top, right top, from(#fcbb04), to(#fffc00));
    background: -o-linear-gradient(left, #fcbb04, #fffc00);
    background: linear-gradient(to right, #fcbb04, #fffc00);
    border-radius: 60px;
    display: inline;
    position: absolute;
}

.weather-app .sunshine {
    -webkit-animation: sunshines 2s infinite;
            animation: sunshines 2s infinite;
}

.weather-app .card-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.weather-app .temp {
    font-size: 36px;
    font-weight: bold;
}

.weather-app .temp-scale {
    font-size: 18px;
    margin-top: 10px;
}

.weather-app .forecast {
    margin-top: 20px;
}

.weather-app .forecast h2{
    font-size: 1.2rem !important;
}

.weather-app .error-message {
    color: red;
    font-size: 24px;
    font-weight: bold;
}
.loading-message{
    font-size: 2vw;
}